Source: ros-melodic-ecl
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://www.ros.org/wiki/ecl
Standards-Version: 3.9.2

Package: ros-melodic-ecl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-ecl-core, ros-melodic-ecl-lite, ros-melodic-ecl-manipulation, ros-melodic-ecl-navigation, ros-melodic-ecl-tools
Description: Metapackage bringing all of ecl together.
