Source: ros-indigo-ecl-manipulators
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-ecl-build, ros-indigo-ecl-exceptions, ros-indigo-ecl-formatters, ros-indigo-ecl-geometry, ros-indigo-ecl-license
Homepage: http://wiki.ros.org/ecl_manipulators
Standards-Version: 3.9.2

Package: ros-indigo-ecl-manipulators
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ecl-build, ros-indigo-ecl-exceptions, ros-indigo-ecl-formatters, ros-indigo-ecl-geometry, ros-indigo-ecl-license
Description: Deploys various manipulation algorithms, currently just feedforward filters (interpolations).
